h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Fallback", sans-serif;
  color: #2e2f42;
  box-sizing: border-box;
}

.container,
.header-container,
.footer-container {
  width: 1158px;
  height: auto;
  padding: 0 15px;
  display: flex;
}

.container {
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container {
  margin: 24px 0;
  justify-content: space-between;
}

nav,
address,
main p {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.01em;
}

nav a:hover,
address a:hover {
  color: #404bbf;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  justify-content: center;
}

header div {
  display: flex;
  justify-content: space-between;
}

header ul {
  gap: 40px;
}

nav {
  font-weight: 500;
}

address {
  font-style: normal;
  color: #434455;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0.03em;
  margin: 0;
}

.logo span {
  color: #4d5ae5;
}



.section {
  padding: 120px 0;

}

.section ul,
#feature-section ul {
  gap: 24px;
}

#feature-section li{
  display: flex;
  flex-direction: column;
gap: 8px;
}

#hero-section {
  background-color: #2e2f42;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 48px;
}

h1 span {
  display: block;
}

button {
  width: 169px;
  height: 56px;
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #404bbf;
}

h2 {
  font-size: 36px;
  line-height: 1.1em;
  letter-spacing: 0.02em;
  font-weight: 700;
  margin-bottom: 72px;
}

h3 {
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  font-weight: 500;
}

#our-team {
  background-color: #f4f4fd;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#our-team li {
  display: block;
  background-color: #ffffff;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 2px 2px 2px #2e2f4214;
}

.card {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.card-content {
  padding: 32px 16px;
}

.card-content p {
  margin-top: 8px;
}

#portfolio_firstrow {
  margin-bottom: 48px;
}

#portfolio-section li {
  cursor: pointer;
}

#portfolio-section img{
width: 360px;
height: 300px;
}

img {
  object-fit: cover;
  display: block;
}

footer {
  background-color: #2e2f42;
  color: #ffffff;
display: flex;}

.footer-container{
   flex-direction: column;
   padding: 0 15px;
   margin: 100px auto;
   gap: 16px;
}

footer p{
  width: 264px;
}