h1, h2, h3, h4, h5, h6, p, ul{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Fallback", sans-serif;
  color: #2e2f42;
  box-sizing: border-box;
}

header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  justify-content: center;
}

ul {
  list-style: none;
display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0.03em;
  padding: 24px 76px 24px 156px;
  margin: 0;
}

header div{
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: inherit;
}

.logo span {
  color: #4d5ae5;
}

nav {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  padding: 24px 332px 24px 0;
}
header ul {
  gap: 40px;
}

nav a:hover {
  color: #404bbf;
}

address {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  padding: 24px 156px 24px 0;
}

address a:hover {
  color: #404bbf;
}

#hero_section {
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 188px 472px;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
}

button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin-top: 48px;
}

button:hover {
  background-color: #404bbf;
}

section {
  display: flex;
}
#feature-section {
  justify-content: center;
  align-items: center;
  padding: 120px 156px;
}

#feature-section ul {
  gap: 24px;
}

h3 {
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  font-weight: 500;
}

main p {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  line-height: 1.1em;
  letter-spacing: 0.02em;
  font-weight: 700;
  margin-bottom: 72px;
}

#our-team {
  background-color: #f4f4fd;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 156px;
}

#our-team ul {
  gap: 24px;
}

#our-team li {
  display: block;
  background-color: #ffffff;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 2px 2px 2px #2e2f4214;
}
.card-content{
  padding: 32px 16px;
}
.card-content p{
  margin-top: 8px;
}



#portfolio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 156px;
}

#portfolio_firstrow{
  margin-bottom: 48px;
}

.portfolio {
  width: 360px;
  height: 300px;
}

img {
  object-fit:cover;
  display: block;
}

#portfolio-section ul {
  gap: 24px;
}

.card{
border-left: 1px solid #e7e9fc;
border-bottom: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
}
#portfolio-section li {
  cursor: pointer;
}


footer {
  background-color: #2e2f42;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.footer-container{
  padding: 100px 1020px 100px 156px;
}
footer .logo{
  padding: 0;
}

